/* index.css */

.container {
  max-width: 800px;
  margin: 10px ;
}

.alert {
  margin-bottom: 16px;
  padding: 12px;
  border-radius: 4px;
}

.row {
  margin-bottom: 20px;
}

.Buscador{
  margin-top: 38px;
}

.formulario{
  margin: 50px;
}

.form-group {
  margin-bottom: 14px;
}