.container {
  max-width: 100%;
}

.alert {
  margin-bottom: 16px;
  padding: 12px;
  border-radius: 4px;
}

.row {
  margin-bottom: 10px;
}

.Buscador{
  margin-top: 38px ;
  font-size: 14px ;
}

.form-group{
  font-size: 12px;
  margin-bottom: 2px;
  text-align: center;
}
h4{
  margin-top: -14px;
  text-align: center;
}

.btn-primary {
  font-size: 14px;
}

.table{
  font-size: 12px;
}

.input-buscador {
  width: 50%;
  margin: auto;
  margin-bottom: 10px;
}

